// First section
.s1-flex-item {
    flex: 0 0 100%;
    transition: all .3s ease;
}

.s1-flex-item:hover {
    -moz-transform: translate(0px, -16px);
    -ms-transform: translate(0px, -16px);
    -o-transform: translate(0px, -16px);
    -webkit-transform: translate(0px, -16px);
    transform: translate(0px, -16px);

    h2 {
        color: #000;
    }

    p {
        color: #000;
    }

    .f-icon {
        fill: #000;
    }

}

@media (min-width: 1024px) {
    .s1-flex-item {
        flex: 0 0 33.333333%;
    }
}

@media only screen and (max-width: 650px) and (min-width: 400px){
    .testimonial:before{ border-right: 325px solid transparent; }
    .testimonial:after{ border-left: 325px solid transparent; }
}



.f-icon {
    fill: #1a202c;
}

// Client
.client-logos {
    li {
        flex: 1 1 20%;
        text-align: center;

        img {
            width: 150px;
            filter: gray;
            -webkit-filter: grayscale(1);
            -webkit-transition: all .3s ease-in-out;

            //&:hover {
            //    filter: none;
            //    -webkit-filter: grayscale(0);
            //    -webkit-transform: scale(1.01);
            //}
        }
    }
}

// Get a quote
.request-quote-section {
  background-image: url('http://gp-napo.test/images/map_transparent_dark_2.png');
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

// Contact
.contact-loc {
    background: url('http://gp-napo.test/images/map_transparent_dark_2.png');
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.contact-no {
    background: url('http://gp-napo.test/images/bg-head.svg');
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
}

.contact-email {
    background: url('http://gp-napo.test/images/bg-quote.svg');
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
}

.c1-flex-item {
    flex: 0 0 100%;
    transition: all .3s ease;
}

@media (min-width: 1024px) {
    .c1-flex-item {
        flex: 0 0 33.333333%;
    }
}

// Footer
.f1-flex-item {
    flex: 0 0 100%;
    transition: all .3s ease;
}

@media (min-width: 1024px) {
    .f1-flex-item {
        flex: 0 0 25%;
    }
}

// Testimonials
.t-section {
    background-image: url('http://gp-napo.test/images/bg-testimonials.jpg');
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.t-section-wrapper {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 183, 22, 0.80);
}

.testimonial_section {
    display: block;
    overflow: hidden;
}
.testimonial_section:after {
    display: block;
    clear: both;
    content: "";
}
.testimonial_section .about_content {
    background-color: #020d26;
    padding-top: 77px;
    padding-right: 210px;
    padding-bottom: 62px;
    position: relative;
}
.testimonial_section .about_content .background_layer {
    background-color: #020d26;
    width: auto;
    margin-left: -200px;
    right: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
.testimonial_section .about_content .layer_content {
    position: relative;
    z-index: 9;
    height: 100%;
}
.testimonial_section .about_content .layer_content .section_title {
    margin-bottom: 24px;
    position: relative;
}
.testimonial_section .about_content .layer_content .section_title:after {
    display: block;
    clear: both;
    content: "";
}
.testimonial_section .about_content .layer_content .section_title h5 {
    color: #fff;
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    color: #818a8f;
    margin-top: -5px;
    margin-bottom: 6px;
}
.testimonial_section .about_content .layer_content .section_title h2 {
    font-family: "Titillium Web";
    font-weight: 300;
    font-size: 45px;
    line-height: 50px;
    padding-bottom: 51px;
    margin-bottom: 0px;
    color: #fff;
}
.testimonial_section .about_content .layer_content .section_title h2 strong {
    font-weight: 600 !important;
    width: 100%;
    display: block;
}
.testimonial_section .about_content .layer_content .section_title .heading_line {
    position: relative;
}
.testimonial_section .about_content .layer_content .section_title .heading_line span {
    transition: all 0.5s ease-in-out 0s;
    position: relative;
}
.testimonial_section .about_content .layer_content .section_title .heading_line span:after {
    content: "";
    right: auto;
    left: 69px;
    position: absolute;
    bottom: 28px;
    width: 17px;
    margin-left: 0;
    border-bottom-width: 3px;
    border-bottom-color: #cacaca;
    border-bottom-style: solid;
}
.testimonial_section .about_content .layer_content .section_title .heading_line:after {
    content: "";
    left: 1%;
    margin-left: 0;
    position: absolute;
    bottom: 28px;
    width: 59px;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: #ff5e14;
}
.testimonial_section .about_content .layer_content .section_title p {
    color: #fff;
    margin: 0 0 15px;
}
.testimonial_section .about_content .layer_content a {
    color: #fff;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.3s;
}
.testimonial_section .about_content .layer_content a i {
    font-size: 18px;
    vertical-align: middle;
}
.testimonial_section .about_content .layer_content a:hover {
    color: #ff5e14;
}
.testimonial_section .testimonial_box {
    margin-top: 60px !important;
    position: relative;
}
.testimonial_section .testimonial_box .testimonial_container {
    background-color: #ff5e14;
    margin-left: -170px !important;
    position: relative;
}
.testimonial_section .testimonial_box .testimonial_container .background_layer {
    background-color: #ff5e14;
    width: auto;
    margin-right: -200px;
    right: 0;
    background-image: url('http://gp-napo.test/images/maps.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
}
.testimonial_section .testimonial_box .testimonial_container .layer_content {
    position: relative;
    z-index: 9;
    height: 100%;
}
.testimonial_section .testimonial_box .testimonial_container .layer_content .testimonial_owlCarousel {
    display: block;
    position: relative;
}
.testimonial_section .testimonial_box .testimonial_container .layer_content .testimonial_owlCarousel .testimonials {
    margin: 10px 0 10px 0;
    padding: 62px 0px 72px 50px;
    position: relative;
    text-align: center;
}
.testimonial_section .testimonial_box .testimonial_container .layer_content .testimonial_owlCarousel .testimonials .testimonial_content {
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.13);
    margin-left: 150px;
    margin-top: 69px;
    padding: 70px 40px;
    z-index: 1;
    position: relative;
    background-color: #fff;
    transition: all 0.5s ease-in-out 0s;
}
.testimonial_section .testimonial_box .testimonial_container .layer_content .testimonial_owlCarousel .testimonials .testimonial_content .testimonial_caption {
    margin-bottom: 15px;
    position: relative;
}
.testimonial_section .testimonial_box .testimonial_container .layer_content .testimonial_owlCarousel .testimonials .testimonial_content .testimonial_caption:after {
    content: "";
    width: 30px;
    display: block;
    height: 2px;
    text-align: center;
    left: 46%;
    margin-top: 6px;
    background-color: #ff5e14;
    position: absolute;
}
.testimonial_section .testimonial_box .testimonial_container .layer_content .testimonial_owlCarousel .testimonials .testimonial_content .testimonial_caption h6 {
    padding-top: 0;
    margin-bottom: -5px;
    font-size: 19px;
    font-weight: 600;
    line-height: 24px;
    color: #020d26;
}
.testimonial_section .testimonial_box .testimonial_container .layer_content .testimonial_owlCarousel .testimonials .testimonial_content .testimonial_caption span {
    font-size: 12px;
    color: #9f9f9f;
    margin: 0;
}
.testimonial_section .testimonial_box .testimonial_container .layer_content .testimonial_owlCarousel .testimonials .testimonial_content p {
    padding: 0;
    margin: 0;
    padding-top: 10px;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: #5d6576;
    font-style: italic;
}
.testimonial_section .testimonial_box .testimonial_container .layer_content .testimonial_owlCarousel .testimonials .images_box .testimonial_img {
    border: none;
    position: absolute;
    top: 0;
    left: 55px;
    top: 40px;
}
.testimonial_section .testimonial_box .testimonial_container .layer_content .testimonial_owlCarousel .testimonials .images_box .testimonial_img img {
    border: 5px solid #fff;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    width: 28%;
}
.testimonial_section .testimonial_box .testimonial_container .owl-nav .owl-prev {
    position: absolute;
    top: 165px;
    right: 42px;
    border-radius: 0;
    background: #ff5e14;
    display: block;
    outline: 0;
    width: 34px;
    line-height: 34px;
    height: 34px;
    color: #fff;
    font-size: 23px;
    margin-top: -20px;
    transition: all 0.3s ease-in-out;
}
.testimonial_section .testimonial_box .testimonial_container .owl-nav .owl-prev:hover {
    background: #020d26;
}
.testimonial_section .testimonial_box .testimonial_container .owl-nav .owl-next {
    position: absolute;
    top: 165px;
    right: 5px;
    border-radius: 0;
    display: block;
    background: #ff5e14;
    outline: 0;
    width: 34px;
    text-align: center;
    line-height: 34px;
    height: 34px;
    color: #fff;
    font-size: 23px;
    margin-top: -20px;
    transition: all 0.3s ease-in-out;
}
.testimonial_section .testimonial_box .testimonial_container .owl-nav .owl-next:hover {
    background: #020d26;
}

@media all and (max-width: 991px) {
    .testimonial_section .about_content {
        padding-right: 15px !important;
    }
    .testimonial_section .about_content .background_layer {
        width: 200% !important;
    }
    .testimonial_section .testimonial_box {
        margin-top: 0 !important;
    }
    .testimonial_section .testimonial_box .background_layer {
        width: 200% !important;
        margin-left: -200px;
    }
    .testimonial_section .testimonial_box .about_content {
        padding-left: 15px !important;
        padding-right: 15px !important;
        margin-top: 28% !important;
    }
    .testimonial_section .testimonial_box .testimonial_container {
        margin-left: -15px !important;
    }
    .testimonial_section .testimonial_box .testimonial_container .testimonials {
        margin: 0px 0 20px 0;
    }
    .testimonial_section .testimonial_box .testimonial_container .testimonials .testimonial_content {
        margin-left: -36px !important;
    }
    .testimonial_section .testimonial_box .testimonial_container .testimonials .images_box {
        display: none;
    }
}
.owl-prev, .owl-next {
    background-color: #FFB716 !important;

    &:hover {
        background-color: #d69e2e !important;
    }
}
